@charset "UTF-8";

.slider {
  position: relative;
  min-width: 0;
}

.section-news .slick-slide {
  max-width: 35.5rem;
  margin-left: 4rem;
}

.slick-slide {
  outline: none;
}

.slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slick-dots {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  position: relative;
}

.slick-dots li:not(:last-child) {
  margin-right: 1rem;
}

.slick-dots li button {
  background: none;
  border: none;
  padding: 1rem;
  font-size: 0;
}

.slick-dots li::after {
  content: '';
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
  background-color: #8da1b5;
  border-radius: 50%;
  opacity: 0.3;
}

.slick-dots li.slick-active::after {
  background-color: #8da1b5;
  opacity: 1;
}

.dd-select {
  background: none !important;
  border: 0.0625rem solid #fff !important;
  padding: 0.25rem 1.5rem 0.25rem 0.25rem !important;
  border-radius: 0.5rem !important;
}

.dd-select img {
  margin: 0;
  height: 2rem;
}

.dd-selected {
  padding: 0 !important;
  font-size: 0;
}

.dd-selected img {
  display: none;
}

.dd-selected svg {
  width: 2rem;
}

.dd-options {
  border: none;
}

.dd-option-image,
.dd-selected-image {
  margin: 0 !important;
}

.dd-option {
  font-size: 0;
}

.dd-option img {
  display: none;
}

.dd-option svg {
  width: 3rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.833333333333333333vw;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b,
i,
a {
  color: #011f3b;
}

a {
  text-decoration: none;
}

textarea,
input,
button,
select {
  outline: none;
}

textarea {
  font-family: "Nunito", sans-serif;
  border: none;
  resize: none;
}

button {
  cursor: pointer;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.container {
  padding: 0 16rem;
  width: 100%;
}

@-webkit-keyframes gradient {
  from {
    background-color: #5e58f8;
  }

  20% {
    background-color: #9856da;
  }

  40% {
    background-color: #c756da;
  }

  60% {
    background-color: #fe98e8;
  }

  80% {
    background-color: #29b8db;
  }

  to {
    background-color: #5e58f8;
  }
}

@keyframes gradient {
  from {
    background-color: #5e58f8;
  }

  20% {
    background-color: #9856da;
  }

  40% {
    background-color: #c756da;
  }

  60% {
    background-color: #fe98e8;
  }

  80% {
    background-color: #29b8db;
  }

  to {
    background-color: #5e58f8;
  }
}

@-webkit-keyframes gradientColor {
  from {
    color: #5e58f8;
  }

  20% {
    color: #9856da;
  }

  40% {
    color: #c756da;
  }

  60% {
    color: #fe98e8;
  }

  80% {
    color: #29b8db;
  }

  to {
    color: #5e58f8;
  }
}

@keyframes gradientColor {
  from {
    color: #5e58f8;
  }

  20% {
    color: #9856da;
  }

  40% {
    color: #c756da;
  }

  60% {
    color: #fe98e8;
  }

  80% {
    color: #29b8db;
  }

  to {
    color: #5e58f8;
  }
}

.fixed-page {
  overflow: hidden;
}

.header {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #5e58f8;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16rem;
  height: 4.9375rem;
}

.header .logo-header {
  height: 212%;
  width: 19rem;
  background-image: url(../img/sprite.svg#logo);
  background-repeat: no-repeat;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-item {
  padding: 0.3125rem 0.5rem;
  position: relative;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  font-size: 1.25rem;
  color: #fff;
  background-color: inherit;
  border-radius: 0.5rem;
  width: calc(6.25rem + 0.5rem * 2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header .nav-item:not(:last-child) {
  margin-right: 0.4375rem;
}

.header .nav-item.nav-item-active {
  font-weight: bold;
  background-color: #fff;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-name: gradientColor;
          animation-name: gradientColor;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header .nav-item.nav-contact {
  color: #fff;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: auto;
}

.header .dd-container {
  margin-right: 1rem;
}

.header .nav-phone {
  border: 0.0625rem solid #fff;
  width: auto;
  font-family: "Nunito", sans-serif;
}

.header .nav-phone:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header .nav-phone img {
  width: 1.75rem;
}

.button-blue {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #5e58f8;
  border: none;
  border-radius: 0.75rem;
}

.button-blue:hover {
  -webkit-box-shadow: 0px 0px 1.375rem rgba(94, 88, 248, 0.59);
          box-shadow: 0px 0px 1.375rem rgba(94, 88, 248, 0.59);
}

.button-purple {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #9856da;
  border: none;
  border-radius: 0.75rem;
}

.button-purple:hover {
  -webkit-box-shadow: 0px 0px 1.375rem rgba(152, 86, 218, 0.59);
          box-shadow: 0px 0px 1.375rem rgba(152, 86, 218, 0.59);
}

.button-violet {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #c756da;
  border: none;
  border-radius: 0.75rem;
}

.button-violet:hover {
  -webkit-box-shadow: 0px 0px 1.375rem rgba(199, 86, 218, 0.59);
          box-shadow: 0px 0px 1.375rem rgba(199, 86, 218, 0.59);
}

.button-pink {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #fe98e8;
  border: none;
  border-radius: 0.75rem;
}

.button-pink:hover {
  -webkit-box-shadow: 0px 0px 1.375rem rgba(254, 152, 232, 0.59);
          box-shadow: 0px 0px 1.375rem rgba(254, 152, 232, 0.59);
}

ul.list-titled li:first-child h4 {
  font-size: 1.5rem;
  line-height: 142%;
  margin: 0 0 1rem 0;
}

ul.list-titled li:not(:first-child):not(:last-child) {
  margin-bottom: 0.5rem;
}

ul.list-titled li:nth-child(n + 2) {
  font-size: 1rem;
  line-height: 103.5%;
  position: relative;
  padding-left: 2.625rem;
}

ul.list-titled li:nth-child(n + 2):before {
  content: '';
  position: absolute;
  left: 1rem;
  top: 0.25rem;
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #011f3b;
}

ul.list-untitled li {
  font-size: 1rem;
  line-height: 103.5%;
  position: relative;
  padding-left: 2.625rem;
}

ul.list-untitled li:not(:last-child) {
  margin-bottom: 0.5rem;
}

ul.list-untitled li:before {
  content: '';
  position: absolute;
  left: 1rem;
  top: 0.25rem;
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #011f3b;
}

.section-title {
  font-size: 2.125rem;
  line-height: 103.5%;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

.section-subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  line-height: 103.5%;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.button-blur {
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  border: none;
  padding: 1rem 5.125rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  background: rgba(245, 245, 251, 0.33);
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  border-radius: 0.75rem;
}

.button-blur:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  position: relative;
  padding: 10.75rem 0 0 0;
}

.footer:before {
  content: '';
  display: block;
  position: absolute;
  top: 6.75rem;
  background-color: #f0f8ff;
  width: 100%;
  height: 4rem;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.footer .container {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 4.375rem;
  background-color: #f0f8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 15.25rem;
}

.footer .container:after {
  content: '© meridian-50 2020';
  font-size: 0.75rem;
  color: #011f3b;
  position: absolute;
  left: calc(50% - 3.375rem);
  bottom: 1rem;
}

.footer .logo-footer {
  height: 10rem;
  width: 19rem;
  background-image: url(../img/sprite.svg#logo);
  background-repeat: no-repeat;
  margin-right: 4rem;
  margin-bottom: 1rem;
  display: block;
}

.footer .social-links {
  margin-right: 4rem;
}

.footer .social-links a {
  width: 2rem;
  height: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: none;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.footer .social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer .social-links a picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-links a:not(:last-child) {
  margin-right: 0.5rem;
}

.footer .social-links img {
  height: 1.5rem;
}

.footer .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .nav-footer a {
  font-size: 1.125rem;
  color: #011f3b;
}

.footer .nav-footer a:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer .nav-footer,
.footer .e-address {
  margin-right: 8.4375rem;
}

.footer .list-title {
  font-size: 1.6875rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  margin-bottom: 0.5rem;
}

.footer .e-address,
.footer .address {
  color: #011f3b;
  font-size: 1rem;
}

.footer .e-address li:not(:last-child),
.footer .address li:not(:last-child) {
  margin-bottom: 1rem;
}

.section,
.main,
.footer {
  position: relative;
  z-index: 1;
}

@-webkit-keyframes rotateUpLeft {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(24rem, 24rem);
            transform: translate(24rem, 24rem);
  }

  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes rotateUpLeft {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(24rem, 24rem);
            transform: translate(24rem, 24rem);
  }

  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.glass-effect {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 251, 0.33);
}

.glass-effect #c-1 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 33.9375rem;
  height: 33.9375rem;
  border-radius: 33.9375rem;
  background-color: #fff;
  top: -1.5rem;
  left: 64rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-2 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 33.9375rem;
  height: 33.9375rem;
  border-radius: 33.9375rem;
  background-color: #fff3e1;
  top: 30.5rem;
  left: 46.625rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-3 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 37.0625rem;
  height: 37.0625rem;
  border-radius: 37.0625rem;
  background-color: #f0d1ff;
  top: 70.875rem;
  left: 7.4375rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-4 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 33.9375rem;
  height: 33.9375rem;
  border-radius: 33.9375rem;
  background-color: rgba(209, 220, 255, 0.61);
  top: 22.0625rem;
  left: -5.875rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-5 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 33.9375rem;
  height: 33.9375rem;
  border-radius: 33.9375rem;
  background-color: #fff;
  top: 136.25rem;
  left: 62.625rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-6 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 33.9375rem;
  height: 33.9375rem;
  border-radius: 33.9375rem;
  background-color: rgba(209, 220, 255, 0.93);
  top: 63.4375rem;
  left: 51rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-7 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 23.6875rem;
  height: 23.6875rem;
  border-radius: 23.6875rem;
  background-color: rgba(240, 209, 255, 0.6);
  top: 7.375rem;
  left: 2.4375rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-8 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 21.5625rem;
  height: 21.5625rem;
  border-radius: 21.5625rem;
  background-color: #fff0da;
  top: 140.8125rem;
  left: 22.25rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-9 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 21.5625rem;
  height: 21.5625rem;
  border-radius: 21.5625rem;
  background-color: #fff0da;
  top: 119.1875rem;
  left: 45.4375rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-10 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 24.3125rem;
  height: 24.3125rem;
  border-radius: 24.3125rem;
  background-color: #fff;
  top: 165.5625rem;
  left: -3.4375rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-11 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 17.125rem;
  height: 17.125rem;
  border-radius: 17.125rem;
  background-color: #acd0f3;
  top: 230.625rem;
  left: 69.25rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-12 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 17.125rem;
  height: 17.125rem;
  border-radius: 17.125rem;
  background-color: #ddacf3;
  top: 245.6875rem;
  left: 78.1875rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-13 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 36rem;
  height: 36rem;
  border-radius: 36rem;
  background-color: #ffefd6;
  top: 239.1875rem;
  left: 15.75rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-14 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 29.125rem;
  height: 29.125rem;
  border-radius: 29.125rem;
  background-color: #d9d8ff;
  top: 207.5rem;
  left: 44.5625rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-15 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 23.3125rem;
  height: 23.3125rem;
  border-radius: 23.3125rem;
  background-color: #ffefd6;
  top: 158.5rem;
  left: 25rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-16 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 31.4375rem;
  height: 31.4375rem;
  border-radius: 31.4375rem;
  background-color: #d8d7ff;
  top: 192.1875rem;
  left: -3.4375rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-17 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 31.4375rem;
  height: 31.4375rem;
  border-radius: 31.4375rem;
  background-color: #fff;
  top: 213.125rem;
  left: 60.625rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.glass-effect #c-18 {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(7.8125rem);
          filter: blur(7.8125rem);
  width: 40.125rem;
  height: 40.125rem;
  border-radius: 40.125rem;
  background-color: #c0cfff;
  top: 272.8125rem;
  left: -5.3125rem;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: rotateUpLeft;
          animation-name: rotateUpLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.popup {
  position: fixed;
  z-index: 1000;
  right: -100%;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1.25rem 0 4rem 0.25rem #666;
          box-shadow: 1.25rem 0 4rem 0.25rem #666;
  width: calc(100% / 3);
  background-color: #fff;
  height: 100%;
}

.popup.popup-active {
  right: 0;
}

.popup-heading {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.0625rem solid #8da1b5;
}

.popup-heading .title {
  margin: 0;
  font-size: 2.125rem;
}

.popup-heading .popup-escape {
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem 0.5rem;
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;
}

.popup-heading .popup-escape img {
  width: 1.5rem;
}

.popup-heading .popup-escape:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.popup-info {
  padding: 4rem;
}

.popup-content {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.popup .phone {
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #5e58f8;
  color: #fff;
  border-radius: 0.5rem;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-form input {
  margin-bottom: 1rem;
}

.popup-form input,
.popup-form textarea {
  background-color: #f0f0f0;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
}

.popup-form textarea {
  height: 16rem;
  margin-bottom: 1rem;
}

.popup-form .form-submit {
  padding: 1rem 2rem;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.popup-form .form-submit:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main {
  position: relative;
  padding: 12.5rem 0 5rem 0;
}

.main .container {
  position: relative;
  z-index: 1;
}

.main .main-title {
  margin: 0 0 1.5rem 0;
  font-size: 3rem;
  font-weight: 800;
  line-height: 103.5%;
  max-width: 26.125rem;
}

.main .main-subtitle {
  margin: 0 0 3rem 0;
  font-size: 1.5rem;
  max-width: 31.125rem;
  line-height: 142%;
}

.main .main-button {
  -webkit-transition-property: 0.15s;
  -o-transition-property: 0.15s;
  transition-property: 0.15s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  padding: 1rem 4rem;
  background-color: #5e58f8;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main .main-button.button-blue:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main .main-button:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.main .main-button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.main .main-illustration {
  position: absolute;
  top: 7rem;
  right: 18rem;
  width: 45rem;
}

.main .main-vector {
  position: absolute;
  z-index: 0;
  top: 0;
  left: -20%;
  height: 50rem;
}

.section-services {
  padding: 6rem 0 4rem 0;
}

.section-services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section-services .services-heading {
  width: calc(33% - 4rem / 3);
}

.section-services .section-title {
  width: 27rem;
}

.section-services .section-subtitle {
  margin: 0 0 1rem 0;
}

.section-services .button-services {
  padding: 0.875rem 4.0625rem;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.section-services .button-services:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-services .card {
  position: relative;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  width: calc(33% - 4rem / 3);
}

.section-services .card-content {
  font-size: 1.3125rem;
  margin: 0 0 1rem 0;
}

.section-services .card-big {
  min-height: 30rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-services .card-big .card-heading {
  margin-bottom: 3rem;
}

.section-services .card-big img {
  height: 7rem;
  position: absolute;
  top: 2rem;
  right: -1.5rem;
}

.section-services .card-big .card-title {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-services .card-small {
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-services .card-small .card-title {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-services .card-small .card-title img {
  height: 5rem;
  margin-left: -2rem;
}

.section-services .card-small:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.section-services .card-small:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.section-services .button-card {
  padding: 0.875rem 4.0625rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.section-services .link-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 2rem;
  font-weight: bold;
  font-family: "FuturaPT", "Lato", sans-serif;
}

.section-about {
  padding: 4rem 0;
}

.section-about .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-about .card {
  border-radius: 1rem;
  padding: 2rem;
}

.section-about .card:not(:last-child) {
  margin-right: 2rem;
}

.section-about .card-title,
.section-about .card-content {
  color: #fff;
}

.section-about .card-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
  font-size: 2rem;
}

.section-about .card-title picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about .card-title img {
  margin-left: -1rem;
  height: 4rem;
}

.section-about .card-content {
  margin: 0;
  font-size: 1.125rem;
}

.section-about .card:first-child {
  background-color: #9856da;
}

.section-about .card:nth-child(2) {
  background-color: #5e58f8;
}

.section-about .card:nth-child(3) {
  background-color: #fe98e8;
}

.section-confidence {
  padding: 4rem 0;
  position: relative;
}

.section-confidence .text-cause {
  width: 43rem;
  position: relative;
  font-size: 1.5rem;
  padding-left: 4.125rem;
}

.section-confidence .text-cause:not(:last-child) {
  margin: 0 0 3rem 0;
}

.section-confidence .text-cause:last-child {
  margin: 0;
}

.section-confidence .text-cause:before {
  font-family: "FuturaPT", "Lato", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  position: absolute;
  left: 0;
}

.section-confidence .text-cause:nth-child(2):before {
  content: '1';
}

.section-confidence .text-cause:nth-child(3):before {
  content: '2';
}

.section-confidence .text-cause:nth-child(4):before {
  content: '3';
}

.section-confidence .text-cause:nth-child(5):before {
  content: '4';
}

.section-confidence .text-cause:nth-child(6):before {
  content: '5';
}

.section-confidence .confidence-illustration {
  width: 48rem;
  position: absolute;
  top: 6rem;
  right: 10rem;
}

.section-value {
  padding: 4rem 0;
}

.section-value .container {
  padding-left: 50%;
}

.section-value .section-title {
  width: 40rem;
}

.section-value .list-title {
  width: 46rem;
  font-family: "Lato", "FuturaPT", sans-serif;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.section-value .cards {
  width: 46rem;
  padding-left: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.section-value .card-value {
  position: relative;
}

.section-value .card-value:before {
  content: '';
  background-image: url(../img/sprite.svg#checkmark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 6rem;
  width: 6rem;
  display: block;
  position: absolute;
  left: -8rem;
}

.section-value .card-value:not(:last-child) {
  margin-bottom: 2rem;
}

.section-value .card-title {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
}

.section-value .card-content {
  margin: 0;
  font-size: 1.25rem;
}

.section-value .button-pink {
  padding: 0.875rem 4.0625rem;
}

.section-value .value-illustration {
  width: 48rem;
  position: absolute;
  top: 13rem;
  left: 8rem;
}

.section-steps {
  padding: 4rem 0;
}

.section-steps .container {
  padding: 0 4rem;
}

.section-steps .section-title {
  text-align: center;
}

.section-steps .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-steps .card {
  position: relative;
  background-color: #fff;
  padding: 2rem 2rem 2rem 12rem;
  border-radius: 1rem;
  width: calc(100% / 3 - 8rem / 3);
}

.section-steps .card:before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 8rem;
  width: 8rem;
  display: block;
  position: absolute;
  top: calc(50% - 4rem);
  left: 2rem;
}

.section-steps .card:first-child:before {
  background-image: url(../img/sprite.svg#info);
}

.section-steps .card:nth-child(2):before {
  background-image: url(../img/sprite.svg#list);
}

.section-steps .card:nth-child(3):before {
  background-image: url(../img/sprite.svg#hand);
}

.section-steps .card:not(:last-child):after {
  content: '';
  background-image: url(../img/sprite.svg#arrow);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 4rem;
  width: 4rem;
  display: block;
  position: absolute;
  top: calc(50% - 2rem);
  right: -2rem;
}

.section-news {
  padding: 4rem 0;
}

.section-news .cards {
  width: 100vw;
  overflow: hidden;
}

.section-news .card {
  outline: none;
  position: relative;
  padding: 4rem 2rem;
  max-width: 35.5rem;
  height: 35.1875rem;
  border-radius: 1rem;
}

.section-news .card img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.section-news .card-title {
  position: relative;
  z-index: 1;
  font-size: 2.125rem;
  font-weight: 800;
  margin: 0 0 2rem 0;
  color: #fff;
  line-height: 103.5%;
  letter-spacing: 0.015em;
}

.section-news .card-subtitle {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.5rem;
  line-height: 142%;
}

.section-news .card .button-blur {
  z-index: 1;
  position: absolute;
  bottom: 4rem;
  left: 2rem;
}

.section-follow {
  padding: 2rem 0 4rem 0;
}

.section-follow .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  background-color: #9856da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-follow .section-title {
  margin: 0;
  color: #fff;
}

.section-follow .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-follow .socials a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
}

.section-follow .socials a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.section-follow .socials a:not(:last-child) {
  margin-right: 2rem;
}

.section-follow .socials img {
  height: 4rem;
}

.section-contact {
  position: relative;
  padding: 8rem 0 4rem 0;
}

.section-contact .section-title {
  width: 40rem;
  line-height: 132%;
}

.section-contact .form-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.section-contact .inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-right: 1.5rem;
}

.section-contact input[type='text'] {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #8da1b5;
  font-family: "Lato", "FuturaPT", sans-serif;
  font-size: 1rem;
  border: none;
}

.section-contact input[type='text']:not(:nth-child(n + 3)) {
  margin-bottom: 1rem;
}

.section-contact .textarea-contact {
  font-size: 1rem;
  color: #8da1b5;
  padding: 0.5rem 1.5rem;
  border-radius: 0.625rem;
  width: 20.8125rem;
  height: auto;
}

.section-contact input[type='text'],
.section-contact .button-form {
  width: 16.3125rem;
}

.section-contact .button-form {
  margin-top: 1.125rem;
  padding: 1rem 4.25rem;
}

.section-contact .contact-illustration {
  height: 35rem;
  position: absolute;
  top: 3rem;
  right: 12rem;
}

@media (min-width: 1920px) {
  html {
    font-size: 0.833333333333333333vw;
  }
}