.section-services {
  padding: 5rem 0 4rem 0;
  .services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .card {
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 2rem;
    }
  }
  .card-title {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
  .card-content {
    font-size: 1rem;
  }
  .card-insurance .card-content {
    margin: 0 0 2rem 0;
  }
  .card-nostrification {
    .card-content {
      margin: 0 0 0.5rem 0;
      &:nth-child(3) {
        margin: 0 0 2rem 0;
      }
    }
  }
  .lists {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .card-description {
    margin: 0;
    font-size: 0.75rem;
    color: $light-blue;
  }
  .card-insurance ul {
    width: calc(50% - 2rem);
  }
  .card-statement,
  .card-confirmation {
    width: calc(50% - 1rem);
    min-height: 23.375rem;
    .button-card {
      margin-bottom: 2rem;
    }
  }
  .card-statement ul {
    margin-bottom: 2rem;
  }
  .card-confirmation ul {
    margin-bottom: 3.25rem;
  }
  .button-card {
    padding: 1rem 4.25rem;
  }
}
ul.list-titled {
  li {
    &:first-child h4 {
      font-size: 1.5rem;
      line-height: 142%;
      margin: 0 0 1rem 0;
    }
    &:not(:first-child):not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  li:nth-child(n + 2) {
    font-size: 1rem;
    line-height: 103.5%;
    position: relative;
    padding-left: 2.625rem;
    &:before {
      content: '';
      position: absolute;
      left: 1rem;
      top: 0.25rem;
      display: inline-block;
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid $black;
    }
  }
}
ul.list-untitled {
  li {
    font-size: 1rem;
    line-height: 103.5%;
    position: relative;
    padding-left: 2.625rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    &:before {
      content: '';
      position: absolute;
      left: 1rem;
      top: 0.25rem;
      display: inline-block;
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid $black;
    }
  }
}
