@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'slick-slider';
* {
  box-sizing: border-box;
}
html {
  font-size: 0.833333333333333333vw;
  font-family: $lato;
  overflow-x: hidden;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b,
i,
a {
  color: $black;
}
a {
  text-decoration: none;
}
textarea,
input,
button {
  outline: none;
}
textarea {
  font-family: $lato;
  border: none;
  resize: none;
}
button {
  cursor: pointer;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $nunito;
}
.container {
  padding: 0 16rem;
  width: 100%;
}
@keyframes gradient {
  from {
    background-color: $blue;
  }
  20% {
    background-color: $purple;
  }
  40% {
    background-color: $violet;
  }
  60% {
    background-color: $pink;
  }
  80% {
    background-color: $turquoise;
  }
  to {
    background-color: $blue;
  }
}
@keyframes gradientColor {
  from {
    color: $blue;
  }
  20% {
    color: $purple;
  }
  40% {
    color: $violet;
  }
  60% {
    color: $pink;
  }
  80% {
    color: $turquoise;
  }
  to {
    color: $blue;
  }
}
.header {
  transition: 0.1s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1.5rem 0;
  background-color: $blue;
  animation-duration: 100s;
  animation-name: gradient;
  animation-iteration-count: infinite;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-header {
    font-family: $nunito;
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
  }
  .nav-item {
    padding: 0.3125rem 1.625rem;
    position: relative;
    transition: 0.15s;
    font-size: 1.125rem;
    color: #fff;
    border-radius: 1.0625rem;
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.3);
    }
    &:not(:last-child) {
      margin-right: 0.4375rem;
    }
    &.nav-item-active {
      font-weight: bold;
    }
    &.nav-contact {
      color: #fff;
      background-color: #fff;
      animation-duration: 100s;
      animation-name: gradientColor;
      animation-iteration-count: infinite;
    }
  }
  &.header-float {
    padding: 0.5rem 0;
    .nav-item {
      background-color: inherit;
    }
    .nav-contact {
      color: #fff !important;
    }
  }
}
.main {
  position: relative;
  padding: 12.5rem 0 5rem 0;
  .main-title {
    margin: 0 0 1.5rem 0;
    font-size: 3rem;
    font-weight: 800;
    line-height: 103.5%;
    max-width: 21.125rem;
  }
  .main-subtitle {
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
    max-width: 31.125rem;
    line-height: 142%;
  }
  .main-button {
    transition-property: 0.15s;
    transform: scale(1);
    padding: 1rem 4rem;
    background-color: $blue;
    // animation-duration: 100s;
    // animation-name: gradient;
    // animation-iteration-count: infinite;
    &.button-blue:hover {
      box-shadow: none;
    }
    &:hover {
      transform: scale(1.02);
    }
    &:active {
      transform: scale(0.98);
    }
  }
  .main-illustration {
    position: absolute;
    top: 9.3125rem;
    right: 16rem;
    width: 40rem;
  }
}
.button-blue {
  transition: 0.3s;
  font-family: $lato;
  font-size: 1.5rem;
  color: #fff;
  background-color: $blue;
  border: none;
  border-radius: 0.75rem;
  &:hover {
    box-shadow: 0px 0px 1.375rem rgba($color: $blue, $alpha: 0.59);
  }
}
.button-purple {
  transition: 0.3s;
  font-family: $lato;
  font-size: 1.5rem;
  color: #fff;
  background-color: $purple;
  border: none;
  border-radius: 0.75rem;
  &:hover {
    box-shadow: 0px 0px 1.375rem rgba($color: $purple, $alpha: 0.59);
  }
}
.button-violet {
  transition: 0.3s;
  font-family: $lato;
  font-size: 1.5rem;
  color: #fff;
  background-color: $violet;
  border: none;
  border-radius: 0.75rem;
  &:hover {
    box-shadow: 0px 0px 1.375rem rgba($color: $violet, $alpha: 0.59);
  }
}
.button-pink {
  transition: 0.3s;
  font-family: $lato;
  font-size: 1.5rem;
  color: #fff;
  background-color: $pink;
  border: none;
  border-radius: 0.75rem;
  &:hover {
    box-shadow: 0px 0px 1.375rem rgba($color: $pink, $alpha: 0.59);
  }
}
.section-services {
  padding: 4rem 0;
  .services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .card {
    position: relative;
    padding: 2rem;
    background-color: #fff;
    min-height: 20.375rem;
    border-radius: 1rem;
    width: calc(50% - 1rem);
    &:not(:nth-child(n + 3)) {
      margin-bottom: 2rem;
    }
  }
  .card-title {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    img {
      height: 3rem;
      margin-right: 1rem;
    }
  }
  .button-card {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 0.875rem 4.0625rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .link-services {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    font-size: 2rem;
    font-weight: bold;
    font-family: $nunito;
  }
}
.link-arrow {
  &:hover img {
    transform: translateX(0.5rem);
  }
  picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    transition: 0.15s;
    margin-left: 1rem;
    width: 2rem;
    transform: translateX(0);
  }
}
ul.list-titled {
  li {
    &:first-child h4 {
      font-size: 1.5rem;
      line-height: 142%;
      margin: 0 0 1rem 0;
    }
    &:not(:first-child):not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  li:nth-child(n + 2) {
    font-size: 1rem;
    line-height: 103.5%;
    position: relative;
    padding-left: 2.625rem;
    &:before {
      content: '';
      position: absolute;
      left: 1rem;
      top: 0.25rem;
      display: inline-block;
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid $black;
    }
  }
}
ul.list-untitled {
  li {
    font-size: 1rem;
    line-height: 103.5%;
    position: relative;
    padding-left: 2.625rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    &:before {
      content: '';
      position: absolute;
      left: 1rem;
      top: 0.25rem;
      display: inline-block;
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid $black;
    }
  }
}
.section-title {
  font-size: 2.125rem;
  line-height: 103.5%;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}
.section-confidence {
  padding: 4rem 0;
  position: relative;
  .text-cause {
    position: relative;
    font-size: 1.5rem;
    padding-left: 4.125rem;
    &:not(:last-child) {
      margin: 0 0 3rem 0;
    }
    &:before {
      font-family: $nunito;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 800;
      position: absolute;
      left: 0;
    }
    &:nth-child(2):before {
      content: '1';
    }
    &:nth-child(3):before {
      content: '2';
    }
    &:nth-child(4):before {
      content: '3';
    }
    &:nth-child(2) {
      width: 45.4375rem;
    }
    &:nth-child(3) {
      width: 33.5625rem;
    }
    &:nth-child(4) {
      width: 43.375rem;
    }
  }
  .confidence-illustration {
    width: 35rem;
    position: absolute;
    top: 3rem;
    right: 16rem;
  }
}
.section-news {
  padding: 4rem 0;
  .cards {
    width: 100vw;
    overflow: hidden;
  }
  .card {
    outline: none;
    position: relative;
    padding: 4rem 2rem;
    max-width: 35.5rem;
    height: 35.1875rem;
    border-radius: 1rem;
    img {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
    &-title {
      position: relative;
      z-index: 1;
      font-size: 2.125rem;
      font-weight: 800;
      margin: 0 0 2rem 0;
      color: #fff;
      line-height: 103.5%;
      letter-spacing: 0.015em;
    }
    &-subtitle {
      position: relative;
      z-index: 1;
      color: #fff;
      font-size: 1.5rem;
      line-height: 142%;
    }
    .button-blur {
      z-index: 1;
      position: absolute;
      bottom: 4rem;
      left: 2rem;
    }
  }
}
.button-blur {
  transition: 0.15s;
  border: none;
  padding: 1rem 5.125rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  background: rgba(245, 245, 251, 0.33);
  backdrop-filter: blur(1.25rem);
  border-radius: 0.75rem;
  &:hover {
    transform: scale(1.1);
  }
}
.section-numbers {
  padding: 4rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    .card {
      position: relative;
      text-align: center;
    }
    .number {
      position: relative;
      z-index: 1;
      margin: 0 0 1.75rem 0;
      color: $turquoise;
      font-size: 4rem;
      font-weight: 800;
    }
    .number-text {
      position: relative;
      z-index: 1;
      font-size: 1.5rem;
      line-height: 103.5%;
    }
    img {
      z-index: 0;
      height: 13.375rem;
      position: absolute;
      top: 0;
      left: -1rem;
    }
  }
}
.section-aim {
  padding: 2rem 0 4rem 0;
  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    background-color: #fff;
    .content {
      margin-left: 4rem;
      font-size: 1.5rem;
      line-height: 142%;
      width: 43.625rem;
    }
    &:before {
      content: '';
      height: 100%;
      width: 0.3125rem;
      display: block;
      background-color: $blue;
      position: absolute;
      top: 0;
      left: 16rem;
    }
  }
}
.section-contact {
  position: relative;
  padding: 8rem 0 4rem 0;
  .section-title {
    width: 40rem;
    line-height: 132%;
  }
  .form-wrapper {
    width: fit-content;
    display: flex;
    flex-flow: row-reverse wrap;
  }
  .inputs-wrapper {
    display: flex;
    flex-flow: column wrap;
    margin-right: 1.5rem;
  }
  input[type='text'] {
    transition: 0.3s;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: $light-blue;
    font-family: $lato;
    font-size: 1rem;
    border: none;
    &:not(:nth-child(n + 3)) {
      margin-bottom: 1rem;
    }
  }
  .textarea-contact {
    font-size: 1rem;
    color: $light-blue;
    padding: 0.5rem 1.5rem;
    border-radius: 0.625rem;
    width: 20.8125rem;
    height: auto;
  }
  input[type='text'],
  .button-form {
    width: 16.3125rem;
  }
  .button-form {
    margin-top: 1.125rem;
    padding: 1rem 4.25rem;
  }
  .contact-illustration {
    height: 35rem;
    position: absolute;
    top: 3rem;
    right: 12rem;
  }
}
.footer {
  padding: 10.75rem 0 0 0;
  .container {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 4.375rem;
    background-color: $footer;
    display: flex;
    flex-flow: column wrap;
    max-height: 15.25rem;
    &:after {
      content: '© meridian-50 2020';
      font-size: 0.75rem;
      color: #fff;
      position: absolute;
      left: calc(50% - 3.375rem);
      bottom: 1rem;
    }
  }
  .logo-footer {
    font-family: $nunito;
    font-size: 1.125rem;
    color: #fff;
    margin-right: 4rem;
    margin-bottom: 1rem;
  }
  .social-links {
    margin-right: 4rem;
    a:not(:last-child) {
      margin-right: 0.5rem;
    }
    img {
      height: 1.5rem;
    }
  }
  .nav-footer {
    display: flex;
    flex-direction: column;
    a {
      font-size: 1.125rem;
      color: #fff;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
  .nav-footer,
  .e-address {
    margin-right: 8.4375rem;
  }
  .list-title {
    font-size: 1.6875rem;
    font-weight: bold;
    font-family: $nunito;
    margin-bottom: 0.5rem;
  }
  .e-address,
  .address {
    color: #fff;
    font-size: 1rem;
    li {
      font-size: #fff;
    }
    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
.section,
.main,
.footer {
  position: relative;
  z-index: 1;
}
@keyframes rotateUpLeft {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(24rem, 24rem);
  }

  to {
    transform: translate(0, 0);
  }
}
.glass-effect {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 251, 0.33);
  #c-1 {
    @include glassCircle(#fff, 33.9375rem, -1.5rem, 64rem);
  }
  #c-2 {
    @include glassCircle(#fff3e1, 33.9375rem, 30.5rem, 46.625rem);
  }
  #c-3 {
    @include glassCircle(#f0d1ff, 37.0625rem, 70.875rem, 7.4375rem);
  }
  #c-4 {
    @include glassCircle(
      rgba(209, 220, 255, 0.61),
      33.9375rem,
      22.0625rem,
      -5.875rem
    );
  }
  #c-5 {
    @include glassCircle(#fff, 33.9375rem, 136.25rem, 62.625rem);
  }
  #c-6 {
    @include glassCircle(
      rgba(209, 220, 255, 0.93),
      33.9375rem,
      63.4375rem,
      51rem
    );
  }
  #c-7 {
    @include glassCircle(
      rgba(240, 209, 255, 0.6),
      23.6875rem,
      7.375rem,
      2.4375rem
    );
  }
  #c-8 {
    @include glassCircle(#fff0da, 21.5625rem, 140.8125rem, 22.25rem);
  }
  #c-9 {
    @include glassCircle(#fff0da, 21.5625rem, 119.1875rem, 45.4375rem);
  }
  #c-10 {
    @include glassCircle(#fff, 24.3125rem, 165.5625rem, -3.4375rem);
  }
  #c-11 {
    @include glassCircle(#acd0f3, 17.125rem, 230.625rem, 69.25rem);
  }
  #c-12 {
    @include glassCircle(#ddacf3, 17.125rem, 245.6875rem, 78.1875rem);
  }
  #c-13 {
    @include glassCircle(#ffefd6, 36rem, 239.1875rem, 15.75rem);
  }
  #c-14 {
    @include glassCircle(#d9d8ff, 29.125rem, 207.5rem, 44.5625rem);
  }
  #c-15 {
    @include glassCircle(#ffefd6, 23.3125rem, 158.5rem, 25rem);
  }
  #c-16 {
    @include glassCircle(#d8d7ff, 31.4375rem, 192.1875rem, -3.4375rem);
  }
  #c-17 {
    @include glassCircle(#fff, 31.4375rem, 213.125rem, 60.625rem);
  }
  #c-18 {
    @include glassCircle(#c0cfff, 40.125rem, 272.8125rem, -5.3125rem);
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 0.833333333333333333vw;
  }
}
