@import 'style';
.main {
  position: relative;
  padding: 12.5rem 0 5rem 0;
  .container {
    position: relative;
    z-index: 1;
  }
  .main-title {
    margin: 0 0 1.5rem 0;
    font-size: 3rem;
    font-weight: 800;
    line-height: 103.5%;
    max-width: 26.125rem;
  }
  .main-subtitle {
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
    max-width: 31.125rem;
    line-height: 142%;
  }
  .main-button {
    transition-property: 0.15s;
    transform: scale(1);
    padding: 1rem 4rem;
    background-color: $blue;
    animation-duration: 100s;
    animation-name: gradient;
    animation-iteration-count: infinite;
    &.button-blue:hover {
      box-shadow: none;
    }
    &:hover {
      transform: scale(1.02);
    }
    &:active {
      transform: scale(0.98);
    }
  }
  .main-illustration {
    position: absolute;
    top: 7rem;
    right: 18rem;
    width: 45rem;
  }
  .main-vector {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -20%;
    height: 50rem;
  }
}
.section-services {
  padding: 6rem 0 4rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .services-heading {
    width: calc(33% - 4rem / 3);
  }
  .section-title {
    width: 27rem;
  }
  .section-subtitle {
    margin: 0 0 1rem 0;
  }
  .button-services {
    padding: 0.875rem 4.0625rem;
    animation-duration: 100s;
    animation-name: gradient;
    animation-iteration-count: infinite;
    &:hover {
      box-shadow: none;
    }
  }
  .card {
    position: relative;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    width: calc(33% - 4rem / 3);
    &-content {
      font-size: 1.3125rem;
      margin: 0 0 1rem 0;
    }
  }
  .card-big {
    min-height: 30rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .card-heading {
      margin-bottom: 3rem;
    }
    img {
      height: 7rem;
      position: absolute;
      top: 2rem;
      right: -1.5rem;
    }
    .card-title {
      margin: 0 0 1rem 0;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }
  .card-small {
    transition: 0.15s;
    height: 10rem;
    display: flex;
    align-items: center;
    .card-title {
      margin: 0;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        height: 5rem;
        margin-left: -2rem;
      }
    }
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .button-card {
    padding: 0.875rem 4.0625rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .link-services {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    font-size: 2rem;
    font-weight: bold;
    font-family: $futura;
  }
}
.section-about {
  padding: 4rem 0;
  .cards {
    display: flex;
    justify-content: space-between;
  }
  .card {
    border-radius: 1rem;
    padding: 2rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &-title,
    &-content {
      color: #fff;
    }
    &-title {
      display: inline-flex;
      align-items: center;
      margin: 0 0 2rem 0;
      font-size: 2rem;
      picture {
        display: flex;
        align-items: center;
      }
      img {
        margin-left: -1rem;
        height: 4rem;
      }
    }
    &-content {
      margin: 0;
      font-size: 1.125rem;
    }
    &:first-child {
      background-color: $purple;
    }
    &:nth-child(2) {
      background-color: $blue;
    }
    &:nth-child(3) {
      background-color: $pink;
    }
  }
}
.section-confidence {
  padding: 4rem 0;
  position: relative;
  .text-cause {
    width: 43rem;
    position: relative;
    font-size: 1.5rem;
    padding-left: 4.125rem;
    &:not(:last-child) {
      margin: 0 0 3rem 0;
    }
    &:last-child {
      margin: 0;
    }
    &:before {
      font-family: $futura;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 800;
      position: absolute;
      left: 0;
    }
    &:nth-child(2):before {
      content: '1';
    }
    &:nth-child(3):before {
      content: '2';
    }
    &:nth-child(4):before {
      content: '3';
    }
    &:nth-child(5):before {
      content: '4';
    }
    &:nth-child(6):before {
      content: '5';
    }
  }
  .confidence-illustration {
    width: 48rem;
    position: absolute;
    top: 6rem;
    right: 10rem;
  }
}
.section-value {
  padding: 4rem 0;
  .container {
    padding-left: 50%;
  }
  .section-title {
    width: 40rem;
  }
  .list-title {
    width: 46rem;
    font-family: $lato;
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
  }
  .cards {
    width: 46rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .card-value {
    position: relative;
  }
  .card-value:before {
    content: '';
    background-image: url(../img/sprite.svg#checkmark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 6rem;
    width: 6rem;
    display: block;
    position: absolute;
    left: -8rem;
  }
  .card-value:not(:last-child) {
    margin-bottom: 2rem;
  }
  .card-title {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
  }
  .card-content {
    margin: 0;
    font-size: 1.25rem;
  }
  .button-pink {
    padding: 0.875rem 4.0625rem;
  }
  .value-illustration {
    width: 48rem;
    position: absolute;
    top: 13rem;
    left: 8rem;
  }
}
.section-steps {
  padding: 4rem 0;
  .container {
    padding: 0 4rem;
  }
  .section-title {
    text-align: center;
  }
  .cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .card {
    position: relative;
    background-color: #fff;
    padding: 2rem 2rem 2rem 12rem;
    border-radius: 1rem;
    width: calc(100% / 3 - 8rem / 3);
    &:before {
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 8rem;
      width: 8rem;
      display: block;
      position: absolute;
      top: calc(50% - 4rem);
      left: 2rem;
    }
    &:first-child:before {
      background-image: url(../img/sprite.svg#info);
    }
    &:nth-child(2):before {
      background-image: url(../img/sprite.svg#list);
    }
    &:nth-child(3):before {
      background-image: url(../img/sprite.svg#hand);
    }
    &:not(:last-child) {
      &:after {
        content: '';
        background-image: url(../img/sprite.svg#arrow);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 4rem;
        width: 4rem;
        display: block;
        position: absolute;
        top: calc(50% - 2rem);
        right: -2rem;
      }
    }
  }
}
.section-news {
  padding: 4rem 0;
  .cards {
    width: 100vw;
    overflow: hidden;
  }
  .card {
    outline: none;
    position: relative;
    padding: 4rem 2rem;
    max-width: 35.5rem;
    height: 35.1875rem;
    border-radius: 1rem;
    img {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
    &-title {
      position: relative;
      z-index: 1;
      font-size: 2.125rem;
      font-weight: 800;
      margin: 0 0 2rem 0;
      color: #fff;
      line-height: 103.5%;
      letter-spacing: 0.015em;
    }
    &-subtitle {
      position: relative;
      z-index: 1;
      color: #fff;
      font-size: 1.5rem;
      line-height: 142%;
    }
    .button-blur {
      z-index: 1;
      position: absolute;
      bottom: 4rem;
      left: 2rem;
    }
  }
}
.section-follow {
  padding: 2rem 0 4rem 0;
  .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-title {
    margin: 0;
    color: #fff;
  }
  .socials {
    display: flex;
    align-items: center;
    a {
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      background-color: rgba($color: #fff, $alpha: 0.05);
      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.15);
      }
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    img {
      height: 4rem;
    }
  }
}
.section-contact {
  position: relative;
  padding: 8rem 0 4rem 0;
  .section-title {
    width: 40rem;
    line-height: 132%;
  }
  .form-wrapper {
    width: fit-content;
    display: flex;
    flex-flow: row-reverse wrap;
  }
  .inputs-wrapper {
    display: flex;
    flex-flow: column wrap;
    margin-right: 1.5rem;
  }
  input[type='text'] {
    transition: 0.3s;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: $light-blue;
    font-family: $lato;
    font-size: 1rem;
    border: none;
    &:not(:nth-child(n + 3)) {
      margin-bottom: 1rem;
    }
  }
  .textarea-contact {
    font-size: 1rem;
    color: $light-blue;
    padding: 0.5rem 1.5rem;
    border-radius: 0.625rem;
    width: 20.8125rem;
    height: auto;
  }
  input[type='text'],
  .button-form {
    width: 16.3125rem;
  }
  .button-form {
    margin-top: 1.125rem;
    padding: 1rem 4.25rem;
  }
  .contact-illustration {
    height: 35rem;
    position: absolute;
    top: 3rem;
    right: 12rem;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 0.833333333333333333vw;
  }
}
