@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@mixin glassCircle($color, $range, $top, $left) {
  position: absolute;
  z-index: 0;
  filter: blur(7.8125rem);
  width: $range;
  height: $range;
  border-radius: $range;
  background-color: $color;
  top: $top;
  left: $left;
  animation-duration: 15s;
  animation-name: rotateUpLeft;
  animation-iteration-count: infinite;
}
