@import 'style';
.main {
  position: relative;
  padding: 8.9375rem 0 3rem 0;
  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    img {
      height: 30rem;
      margin-right: 4rem;
    }
    &-title {
      margin: 0 0 1.5rem 0;
      font-size: 3rem;
      font-weight: 800;
      line-height: 103.5%;
    }
    &-paragraph {
      font-size: 1.25rem;
      line-height: 150%;
    }
  }
  &-title {
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    font-weight: 800;
    line-height: 103.5%;
    max-width: 26.125rem;
  }
  .services-title {
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    font-weight: 800;
    line-height: 103.5%;
    max-width: 26.125rem;
  }
  .tabs {
    display: flex;
    margin-bottom: 4rem;
  }
  .tab {
    transition: 0.3s;
    padding: 1rem 0;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: $nunito;
    display: flex;
    align-items: center;
    flex-flow: column;
    background: rgba($color: #fff, $alpha: 0.5);
    min-width: calc(100% / 6 - (2rem * 5) / 6);
    max-width: calc(100% / 6 - (2rem * 5) / 6);
    &:not(:last-child) {
      margin-right: 2rem;
    }
    img {
      width: 8rem;
      height: 8rem;
    }
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.8);
    }
  }
  .content {
    .main-paragraph {
      margin: 0 0 2rem 0;
      line-height: 150%;
      width: 50%;
    }
    .price {
      font-size: 4rem;
      font-weight: 900;
      font-family: $nunito;
      margin: 0 0 2rem 0;
    }
    img {
      height: 25rem;
      position: absolute;
      right: 0;
      top: 0;
    }
    button {
      padding: 1rem 4rem;
    }
    &-block {
      transition: 0.3;
      opacity: 1;
    }
  }
  #insurance-content,
  #nostrification-content,
  #coin-content,
  #home-content {
    position: relative;
    display: none;
  }
}
.section-questions {
  padding: 4rem 0;
  position: relative;
  .questions {
    margin-bottom: 2rem;
  }
  .question {
    width: 100%;
    background: #fff;
    border: 0.0625rem solid $light-blue;
    border-radius: 2rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .question-button {
    font-family: $nunito;
    position: relative;
    width: 100%;
    padding: 2rem 6rem 2rem 2rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 2.5rem;
      height: 0.25rem;
      background-color: $light-blue;
    }
    &:before {
      right: 2rem;
      top: 50%;
    }
    &:after {
      transition: 0.3s;
      opacity: 1;
      transform: rotate(90deg);
      right: 2rem;
      top: 50%;
    }
    &.openedQuestion:after {
      transform: rotate(0);
      opacity: 0;
    }
  }
  .answer {
    padding: 0 2rem 2rem 2rem;
    margin: 0;
    display: none;
  }
  .button-question {
    padding: 1rem 4rem;
  }
  .section-subtitle {
    margin: 8rem 0 1rem 0;
  }
  .questions-img {
    position: absolute;
    bottom: -13rem;
    transform: rotate(-130deg);
    right: 29rem;
    height: 37rem;
  }
}
