$blue: #5e58f8;
$light-blue: #8da1b5;
$turquoise: #29b8db;
$black: #011f3b;
$purple: #9856da;
$violet: #c756da;
$pink: #fe98e8;
$yellow: #ffbe3d;
$footer: #f0f8ff;

// Fonts
$futura: 'FuturaPT', 'Lato', sans-serif;
$lato: 'Lato', 'FuturaPT', sans-serif;
